* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  padding-left: 15vw;
  padding-right: 15vw;
  min-width: 800px;
  font-size: 18px;
}

.container {
  text-align: center;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 4fr;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: whitesmoke;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 15px 30px;
  font-weight: 800;
}

.head-upper {
  display: grid;
  grid-template-columns: 5% 65% 5% 5% 20%;
  align-items: center;
  justify-items: start;
  gap: 10px;
}

.head-lower {
  display: grid;
  grid-template-columns: 10% 50% 40%;
  text-align: left;
  align-items: center;
  justify-items: start;
}

.header-icon {
  width: 25px;
}

.header-avar {
  width: 40px;
  border-radius: 50%;
}

.header-avar2 {
  width: 60px;
  border-radius: 50%;
}

.head-upper form {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: start;
}

#search-box {
  height: 25px;
  width: 10%;
  font-size: 18px;
  border-radius: 25px;
  background-color: #dadbe4;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid #dadbe4;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#search-box:focus {
  border: 2px solid #555;
  width: 80%;
}

#head-buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 15px;
}

#head-buttons button {
  background: #126572;
  color: #e5e7eb;
  border: none;
  border-radius: 25px;
  padding: 4px 16px;
  font-weight: 800;
  width: 80px;
  height: 32px;
}

#greeting {
  font-size: 14px;
}
.sidebar {
  display: grid;
  grid-template-rows: 70px 1fr 1.5fr;
  background-color: #126572;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  color: white;
  font-weight: 800;
  text-align: left;
  padding: 15px;
}

.content {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  background-color: #dadbe4;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.left-content {
  display: grid;
  grid-template-rows: 40px auto;
  padding: 10px;
}

.right-content {
  display: grid;
  grid-template-rows: 40px auto 40px auto;
  padding: 10px;
}

#project-title {
  grid-row: 1 / 2;
}

.projects {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row: 2 / 3;
}

#announce-title {
  grid-row: 1 / 2;
}

.announce {
  grid-row: 2 / 3;
}

#trending-title {
  grid-row: 3 / 4;
}

.trending {
  grid-row: 4 / 5;
}

.l2title {
  font-weight: 800;
  text-align: left;
  padding-top: 8px;
}

.card .title {
  font-weight: 800;
  text-align: left;
}

.card {
  padding: 20px;
  text-align: left;
  background-color: white;
  border-radius: 8px;
  border-left-style: solid;
  border-left-color: #f3b184;
  border-left-width: 8px;
  display: grid;
  grid-template-rows: 30px auto 30px;
}

#logo {
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 10px;
  color: white;
  font-weight: 800;
  margin-bottom: 20px;
}

#logo img {
  width: 30px;
}

.sb-upper-lower a {
  text-decoration: none;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.iconimg {
  width: 20px;
  padding-left: 15px;
  padding-bottom: 10px;
  grid-column: 1 / 2;
}

.icontxt {
  grid-column: 2 / 3;
}

.card-bottom {
  margin-top: 20px;
  text-align: right;
}

.card-img {
  width: 20px;
}

.announce {
  display: grid;
  grid-template-rows: auto;
  padding: 20px;
  text-align: left;
  background-color: white;
  border-radius: 8px;
  font-size: 14px;
}

.anon-title {
  font-weight: 800;
}

.divider {
  height: 1px;
}

.trending {
  display: grid;
  grid-template-rows: auto;
  padding: 20px;
  text-align: left;
  background-color: white;
  border-radius: 8px;
  font-size: 13px;
}

.trend-img {
  width: 40px;
  border-radius: 50%;
}

.trend-title {
  font-weight: 800;
}

.trending a {
  display: grid;
  grid-template-columns: 50px auto;
  text-decoration: none;
  color: black;
}